@import 'partialscss/mixins';

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic");
@import "../scss/vendor/html5-boilerplate/normalize.css";
@import 'partialscss/colors';
@import 'partialscss/icon';
@import 'partialscss/aqtnav';

@import "vendor/bootstrap";

/*override bootstrap empty hrefs elements to avoid problems in angular*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

$font-family: 'Roboto', sans-serif;

body {
  font-family: $font-family;
}

.innertube {
	padding: 15px;
}

.align-left { 
    width: 100%;
	text-align: left;
	margin-left:0px; 
}
.align-center {
    width: 100%;
	text-align: center;
	margin-left:auto; 
	margin-right:auto; 
}
.align-right {
    width: 100%;
	text-align: right;
	margin-right:0px; 
}

#background_1
{
	/*home page*/
	background-image: url(../images/layout/background_white_c.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	min-height: 800px;
	text-align: center;
}

#background_1a
{
	/*main page*/
	background-image: url(../images/layout/background1a-centered.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	min-height: 800px;
	text-align: center;
}

#background_2
{
	/*explore page*/
	background-image: url(../images/layout/background2.jpg);
	background-repeat: no-repeat;
	background-position: 40% 0%;
	background-attachment: fixed;
	min-height: 800px;
	text-align: center;
}

.overlay, .overlay_nav{	 
	width: 90%;
	background-color: $dk-grey;
	background-color: rgba($dk-grey, .85);
}

.overlay{	 
	@include overlaypos;
	min-height: 90%;
}

.overlay_nav{
	@include overlaypos_nav;
	min-height: 85%;	
}

.logo_home {
	width: 100%;
 	margin-left:auto;
 	margin-right:auto;
 	padding-top: 33%;
}

.logotype
{
	margin-top: 1em;
	font-size: 1.3em;
}
.logotype_bold {
	/*use with span inside logotype classed element*/
	font-weight: 700;
}

.pg-title {
	font-size: 4em;
	padding-top: 50px;
	margin-left: -15px;
	text-transform: uppercase;

}

/*--------*/

.btn-question {
	font-size: 2em;
	color: $dk-grey;
	//background-color: $dk-grey;
}

.bottom {
	position:absolute;
	/*position:fixed;*/ 
	bottom:0;
}

.bottom-right {
	position:absolute;
	right: 20px;
	bottom:20px;
}


.btn-exit
{
	font-size: 2em;
	color: $reverse;
	background-color: $dk-grey;
	position: absolute;
	right: 0px;
}
 
.btn-exit:hover, .btn-exit:focus, .btn-exit:active {
    background: $grey;
	color: $reverse;
}

.bk-red { background-color: $red; }
.bk-orange { background-color: $orange; }
.bk-bittersweet { background-color: $bittersweet; }
.bk-dk-grey { background-color: $dk-grey; }

.txt-pale-orange {color:$pale-orange;}
.txt-yellow-green {color:$yellow-green;}
.txt-reverse { color:$reverse; }


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
	.logo_home {
		padding-top: 15%;
	}
    
}



