@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic");
@import 'partials/colors';
@import "vendor/html5-boilerplate/normalize.css";

@import "vendor/bootstrap";
//override bootstrap empty hrefs elements to avoid problems in angular
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

$font-family: 'Roboto', sans-serif;


@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-family: $font-family;
}

.logotype
{
	margin-top: 1em;
	font-size: 1.3em;
}

.logotype_bold {
	font-weight: 700;
}

#background_1
{
	//width: 100%;
	background-image: url(../images/layout/background_white_c.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment:scroll;
	min-height: 800px;
	//margin: -10px;
	text-align: center;
	//padding-right: 20px; 
}

.logo_home {
	width: 100%;
 	margin-left:auto;
 	margin-right:auto;
 	padding-top: 100px;
	overflow: hidden;
 	//padding-bottom: 300px;
 	//@include centerer;
}
