<div ng-controller="NavController">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="topnav">
            <div class = "col-xs-3" id="back" ng-click='goBack()'>
                <div class="icn-back pull-left"></div>
            </div>
            <div class = "col-xs-3" id="info">
                <div class="icn-info center-block"></div>
            </div>
            <div class = "col-xs-3">
                <div class="icn-info center-block" id="storyNav" ng-hide="hideStoryNav"></div>
            </div>
            <div class = "col-xs-3" id="home" ng-click='goHome("/home")'>
                <div class="icn-home pull-right"></div>
            </div>
        </div>
    </nav>
</div>

<div id="background_1" ng-controller="ExploreController">
    <div class="aqtnav">
        <div id="explore-button">
            <div class="aqtnav-button-label txt-reverse">
                <span class = "txt-yellow-green">Explore</span><br />
                <span class="menuitem-bold">the</span><br />
                QUILT
            </div>
        </div>
        <div id="participate-button">
            <div class="aqtnav-button-label txt-reverse">
                <span class = "txt-yellow-green">
                    My<br />
                    Quilt<br />
                </span>

                <span style="font-size: 80%;">[participate]</span>
            </div>
        </div>
    </div>
</div>
