<div ng-include="'partials/include/global_nav.html'"></div>

<div id="background_2" ng-controller="ExploreMainController">
	<div class="container-fluid">

		<div class="row spaceabove40">
			<div class="col-xs-offset-2">
				<div class="pg-title txt-yellow-green">
					<div id="explore-heading">
						Explore
					</div>
				</div>
			</div>
		</div>

		<div class="row spaceabove20" id="explore_the_quilt-button" ng-click='goExplore("/explore_the_quilt")'>
			<div class="col-xs-10 explore_the_quilt-label txt-reverse vcenter" >
				Explore the Quilt
			</div><!-- 
			--><div class="col-xs-2 bak-pink icon-right vcenter"></div>
		</div>

		<div class="row spaceabove20" id="explore_stories-button" ng-click='goMyQuilt("/#")'>
			<div class="col-xs-10 explore_the_quilt-label txt-reverse vcenter">
			    Explore stories about the quilt and people named on the quilt
			</div><!-- 
			--><div class="col-xs-2 icon-right vcenter"></div>
	    </div>


<!-- 
		<div class="row spaceabove20">
			<div class="col-xs-12">
				<div id="explore_stories-button" ng-click='goMyQuilt("/#")'>
			        <div class="explore_the_quilt-label txt-reverse">
				        Explore stories about the quilt and people named on the quilt
				    </div>
					<div class="icn-forward icn-forward-right"></div>
				</div>
		    </div>
	    </div>
	     -->
	</div>
</div>

<div ng-controller="OverlayController">
    <div class="overlay_nav" id="overlay"  ng-hide="$root.hideOverlay">
        <button type="button" class="btn btn-exit" ng-click="toggleOverlay()">
            <div class="icon-close-reverse"></div>
        </button>

        <div class="innertube">
            <div class="left-align txt-reverse">
                <h3>EXPLORE THE QUILT</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h3>EXPLORE QUILT STORIES</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</div>