<div id = "background_1" ng-controller="HomeController">

	<div id="toSandbox"><h3><a href="#scratchpad" >S</a></h3></div>
	
	<a href="#main" >
		<div class="logo_home">
			<img src="images/layout/AQTLogoText-200.png" alt="AIDS Quilt Touch Logo">
			<!--<div class="logotype">
				<span class="logotype_bold">AIDS QUILT</span> TOUCH
			</div>-->
		</div>
	</a>
	
	<div class="align-center" ng-click="toggleInfoAbout()" ng-show="hideAbout">
		<div class="icon-info center-block info-home"></div>
	</div>

	<div class="overlay" id="about" ng-hide="hideAbout">
		<button type="button" class="btn btn-exit" ng-click="toggleInfoAbout()">
			<div class="icon-close-reverse"></div>
			<!-- <i class="glyphicon glyphicon-remove"></i> -->
		</button>
		<div class="innertube">
			<div class="align-left txt-reverse">
				<h2>{{heading}}</h2>
				<h3>{{subheading}}</h3>
				<p>{{body}}</p>
			</div>
		</div>
	</div>

</div>

