<div id = "background_1" ng-controller="HomeController">

	<div id="toSandbox"><h3><a href="#scratchpad" >S</a></h3></div>
	
	<a href="#main" >
		<div class="logo_home">
			<img src="images/layout/logo_200.png" alt="AIDS Quilt Touch Logo">
			<div class="logotype">
				<span class="logotype_bold">AIDS QUILT</span> TOUCH
			</div>
		</div>
	</a>
	
	<div class="align-center" ng-click="toggleInfoAbout()" ng-show="hideAbout">
<!-- 		<span class="glyphicon glyphicon-question-sign" style="font-size:3em;"></span>
 -->		                <div class="icn-info-blue center-block"></div>

	</div>

	<div class="overlay" id="about" ng-hide="hideAbout">
		<button type="button" class="btn btn-exit" ng-click="toggleInfoAbout()">
			<div class="icn-close"></div>
			<!-- <i class="glyphicon glyphicon-remove"></i> -->
		</button>
		<div class="innertube">
			<div class="align-left txt-reverse">
				<h3>{{overlay.title}}</h3>
				<h2>{{overlay.subtitle}}
				<p>{{overlay.body}}</p>
			</div>
		</div>
	</div>

</div>

