<div ng-include="'partials/include/global_nav.html'"></div>

<div id="background_2" ng-controller="RandomSelectionController">
	<div class="container-fluid">

		<div class="row">
			<div class="col-xs-offset-1">
				<!-- <div class="pg-title "> -->
					<div id="random_selection-heading">
						<span class="txt-reverse">Random Selection</span>
					</div>
				<!-- </div> -->
			</div>
		</div>


		<div class="panels">
			<div class="row panelrow">			
				<div class="col-sm-6 nopadcol"  ng-repeat="panel in panels" >
					<img ng-src = "{{imagepath}}/{{panel.buttonImg}}" class="q_panel_button align-center innertube">
				</div>
			</div>
		</div>

		<div class="row spaceabove20" id="selectionguide-button" ng-click='goRandom("/#")'>
			<div class="col-xs-10 npad-right vcenter">
		        <div class="explore_the_quilt-menu txt-reverse ">
		            Selection Guide
		        </div>
			</div><!--
				<div class="col-xs-2 icon-right" style="top: 50px;">
			--><div class="col-xs-2 icon-right vcenter"></div>
		</div>
		
		<div class="footspace">&nbsp;</div>

	</div>
</div>

<div ng-controller="OverlayController">
    <div class="overlay_nav" id="overlay"  ng-hide="$root.hideOverlay">
        <button type="button" class="btn btn-exit" ng-click="toggleOverlay()">
            <div class="icon-close-reverse"></div>
        </button>

        <div class="innertube">
            <div class="left-align txt-reverse">
                <h3>SELECTION GUIDE</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h3>EXPLORE QUILT STORIES</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</div>