$dk-purple: 	#52266F;
$purple: 		#6B408E;
$lavender: 		#855FA8;
$lt-purple: 	#9E7AD0;

$lt-pink:		#F495B4;
$pink: 			#FC6C9B;
$dk-pink:		#ED2A7B;

$pale-orange: 	#F48159;
$orange:		#F05A28;
$bittersweet:	#EF4036;
$red:			#BE1E2D;

$teal:			#008587;
$dk-blue:		#00416A;

$dk-green:		#005B27;
$green:			#00A14B;
$lt-green: 		#5ECE57;
$green-yellow:	#88A427;
$yellow-green:	#D6DF23;

$dk-grey:		#3A3A3C;
$grey:			#484850;

$reverse:		#F9F8F0;