
/* Heidi-based navigation ids */

$navbarheight:66px;

.globalnav
{
    background-color: $dk-grey;
    position: absolute;
    top: 0px;
    left: 0px ;
    width: 100%;
    padding-top: 6px;
    padding-right: 15px;
    margin-left: 0px;
    margin-right: 0px;
    min-height: $navbarheight;
}

.btn-exit
{
    font-size: 2em;
    color: $reverse;
    background-color: $dk-grey;
    position: absolute;
    right: 0px;
}
 
.btn-exit:hover, .btn-exit:focus, .btn-exit:active {
    background: $grey;
    color: $reverse;
}

//-------- these can probably worked into the new aqtnav rules below

.menu {
    width:100%;
}

.menuitem-pos{
 
    padding-top:.75em;
    min-height: 60px;
}

.menuitem-style
{   
    //@include centerer;
    font-size: 1.4em;
    text-transform: uppercase;
}

.menuitem-bold {
    font-weight: 700;   
}


.aqtnav {
    position: fixed;
    width: 100%;
	height: 100%;
}

.aqtnav-button-label{
    width: 80%;
    text-align:left;
    font-size: 3.3em;
    text-transform: uppercase;
    letter-spacing: 3px;    
    @include centerer_rel;
}

#explore-button {
	width:100%;
    height:46%;
/*start opaque and change to transparent if browser can handle it*/	
	background-color: $dk-pink;
	background-color: rgba($dk-pink, .75);
}

#participate-button {
    width:100%;
    height:46%;
/*start opaque and change to transparent if browser can handle it*/ 
    background-color: $purple;
    background-color: rgba($purple, .85);
}


.pg-title {
    font-size: 3.5em;
    font-weight: bold;
    /*padding-top: 50px;*/
    margin-left: -15px;
    text-transform: uppercase;
}

#explore-heading, #explore_menu-heading, #explore_the_quilt-heading {
    text-align:left;
    text-transform: uppercase;       
    letter-spacing: 2px;
}

#explore-heading {
    margin-top:18%;   
}

#explore_menu-heading {
    line-height: 1.2em;
    margin-top: 1em;    
}

#explore_the_quilt-heading, random_selection-heading {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.2em;
    margin-top: 10%;
    /*margin-left: -10%;*/
}

#explore_menu-button, #explore_stories-button, #explore_the_quilt-button, #viewrandom-button, #findname-button, #taketour-button {
    width:110%;
    top: 40%;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom:10px;
    margin-left: -15px;
    /*margin-top: 10px;*/
    background-color: $lt-pink;
}

#explore_stories-button {
    background-color: $bittersweet;
}


#viewrandom-button {
    padding-left: 0px;
    /*
    padding-bottom:0px;
    padding-top: 0px;
    */
}

.explore_the_quilt-label {
    font-size: 1.4em;
    line-height: 1.9em;    
    text-align:left;
    text-transform: uppercase;
    padding-top: 1%;
    padding-bottom: 1%;
}

.explore_the_quilt-menu {
    font-size: 1.3em;
    width: 100%;
    line-height: 1.9em;    
    text-align:left;
    text-transform: uppercase;
    padding-top: 1%;
    padding-bottom: 1%;
}

#my_quilt-heading{
    text-align:left;
    /*padding-left: 1em;*/
    text-transform: uppercase;       
    font-weight: normal;
    line-height: 1.2em;
    margin-top: 1em;
    letter-spacing: 3px;
}


.icn-forward-right {
    @include centerer;
    left: 93%;
}
