/* Heidi-based navigation ids */

$navbarheight:50px;

.topnav
{
    background-color: $dk-grey;
    position: absolute;
    top: 0px;
    left: 0px ;
    height: $navbarheight;
    width: 100%;
    padding-top: 6px;
    padding-right: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

//-------- these can probably worked into the new aqtnav rules below

.menu {
    width:100%;
}

.menuitem-pos{
 
    padding-top:.75em;
    min-height: 60px;
}

.menuitem-style
{   
    //@include centerer;
    font-size: 1.4em;
    text-transform: uppercase;
}

.menuitem-bold {
    font-weight: 700;   
}


.aqtnav {
    position: fixed;
    width: 100%;
	height: 100%;
}

.aqtnav-button-label{
    width: 80%;
    text-align:left;
    font-size: 3.5em;
    text-transform: uppercase;    
    @include centerer_rel;
}

#explore-button {
   	padding-top: $navbarheight;
	width:100%;
    height:50%;
/*start opaque and change to transparent if browser can handle it*/	
	background-color: $dk-pink;
	background-color: rgba($dk-pink, .75);
}

#participate-button {
    width:100%;
    height:45%;
/*start opaque and change to transparent if browser can handle it*/ 
    background-color: $purple;
    background-color: rgba($purple, .85);
}

#explore_the_quilt-heading {
    padding-top: 18%;
}

#explore_the_quilt-button, #explore_stories-button {
    width:110%;
    top: 40%;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom:10px;
    margin-left: -15px;
    margin-top: 10px;
    background-color: $lt-pink;
}

.explore_the_quilt-label {
    font-size: 2em;
    width: 80%;
    text-align:left;
    text-transform: uppercase;    
}

#explore_stories-button {
    background-color: $bittersweet;
}