@mixin centerer {
  position: absolute;
  /*position: relative;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerer_rel {
/*  position: absolute; */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin overlaypos {
  position: absolute;
  /*position: relative;*/
  top: 50%;
  left: 50%;
  transform: translate(-53%, -53%);
}

@mixin overlaypos_nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-53%, -48%);
}

@mixin vcenter {
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}